* {
  margin: 7%;
  padding: 0rem;
}

body {
  background-color: rgb(24, 24, 68);
}

.titulo {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 6.25rem;
}

p {
  display: flex;
  justify-content: center;
  font-size: 1.875rem;
  margin-top: 1.875rem;
  color: rgb(92, 92, 92);
  text-decoration:underline;
}