@font-face {
  font-family: Caligrafia;
  src: url(Hijrnotes_PERSONAL_USE_ONLY.ttf);
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url(areia.jpg);
}

p {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 23%;
  font-family: 'Caligrafia';
  color: white;
  font-size: 50px;
}

